body {
  margin : 0px;
}


h1 {
  font-size:45px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

#kakaotalk {
  background-color: #F9E000; /* kakao yellow */
  border: none;
  color: black;
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
}
